[Unit]
Description=Dexih Dns Service

[Service]
WorkingDirectory=/home/gary/app
ExecStart=/home/gary/app/Dexih.Dns
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
SyslogIdentifier=dexih.dns.
User=root
Environment=AppSettings__RootIpAddress=13.59.37.106
Environment=AppSettings__RootDomain=dexih.com
Environment=AppSettings__DnsIpAddresses=18.188.63.154
Environment=AppSettings__DnsEmail=gholland.dataexpertsgroup.com
Environment=AppSettings__DnsTtl=300
Environment=AppSettings__DnsTxtUrl=https://dexih.com/api/Remote/GetTxtRecords
Environment=Logging__LogRequests=TRUE
Environment=Logging__LogErrors=TRUE

[Install]
WantedBy=multi-user.target
