[Unit]
Description=Dexih Dns Service

[Service]
WorkingDirectory=/home/ubuntu/app
ExecStart=/home/ubuntu/app/Dexih.Dns
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
SyslogIdentifier=dexih.dns
User=root
Environment=ROOT_IP_ADDRESS=13.59.37.106
Environment=ROOT_DOMAIN=dexih.com
Environment=DNS_IP_ADDRESS=18.188.63.154
Environment=DNS_EMAIL=gholland.dataexpertsgroup.com
Environment=DNS_TTL=300
Environment=LOG_REQUESTS=TRUE
Environment=LOG_ERRORS=TRUE
Environment=DNS_TXT_URL=http://dexih.com/api/Remote/GetTxtRecords

[Install]
WantedBy=multi-user.target